body{
    background: #fff;
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 400px;
}

ul{
    list-style: none;
    display: flex;
    
}

body,input,button{
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
}
#nav{
    display: block;
    align-items: center;
    padding: 6px 6px 6px 100%;
    flex-grow: 1;
    position: relative;
    float: right;
    padding-right: 4px;
    min-width: 320px;
}
.itemCont{
    font: 13px/27px Arial,sans-serif;
    color:  rgba(0,0,0,0.87);;
    display: inline-block;
    padding-right: 15px;
    

}

#gmail,#imagenes{
    padding-left: 15px;
}

.iconos{
    padding: 4px;
}

a,button:hover{
    cursor: pointer;
}

#redondo{
    -webkit-background-size: 32px 32px;
    background-size: 32px 32px;
    border: 0;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin: 0;
    position: relative;
    height: 32px;
    width: 32px;
    z-index: 0;
    margin-top: -4px;
}

.googleLogo{
    max-height: 230px;
    position: relative;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: block;
}
#fotoLogo{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
    vertical-align: bottom;
}