body{
    background: #fff;
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 400px;
}

ul{
    list-style: none;
    display: flex;
    
}

body,input,button{
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
}
#nav{
    display: block;
    align-items: center;
    padding: 6px 6px 6px 100%;
    flex-grow: 1;
    position: relative;
    float: right;
    padding-right: 4px;
   /* min-width: 320px;*/
}
.itemCont{
    font: 13px/27px Arial,sans-serif;
    color:  rgba(0,0,0,0.87);;
    display: inline-block;
    padding-right: 15px;
    

}

#gmail,#imagenes{
    padding-left: 15px;
}

.iconos{
    padding: 4px;
}

a,button:hover{
    cursor: pointer;
}

#redondo{
    -webkit-background-size: 32px 32px;
    background-size: 32px 32px;
    border: 0;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin: 0;
    position: relative;
    height: 32px;
    width: 32px;
    z-index: 0;
    margin-top: -4px;
}

.googleLogo{
    max-height: 230px;
    position: relative;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: block;
}
#fotoLogo{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
    vertical-align: bottom;
}

#buscador{
    width: auto;
    max-width: 584px;
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    flex: 1;
    flex-wrap: wrap;
}
#inp{
    
    white-space: pre;
    height: 34px;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,0.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    -webkit-top-hightlight-color:transparent;
    margin-top: 5px;
    height: 34px;
    font-size: 16px;
    margin-left: 40px;
    margin-right: 20px;
}

input{
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    appearance: auto;
    cursor: text;
    font: 400 13.3333px Arial;
    display: 100%;
    flex: 100%;
}

#bottomSearch{
    padding-top: 18px;
    top: 53px;
    z-index: 0;
    height: 70px;
    align-items: center;
    display: block;
    text-align: center;
}

.bottomBusca{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;

}

#googleThanks{
    flex-grow: 1;
    flex-shrink: 0;
    box-sizing: border-box;
    font-size: small;
    margin-bottom: 24px;
    text-align: center;
    display: inline-block;
    line-height: 28px;
    align-self: center;
    display: block;
    min-height: 155px;
    width: auto;
}

#googleThanks a{
    padding: 0 3px;
    color: #1a0dab;
    text-decoration: none;
    cursor: pointer;
}

#footer{
    background: #f2f2f2;
    flex-shrink:0;
    box-sizing: border-box;
    display: block;
    
}

#argen{
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: rgba(0,0,0,0.54);
    display: block;
}

#segundoFooter{
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 20px;
}

.primeros4{
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap; 
}

.cosasFooter{
    color: #70757a;
    display: block;
    padding: 15px;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
}